html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background: url(bg6.jpg);
    background-position: center;
    
    background-size: cover;
    /* display: table; */
    font-family: Montserrat;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.logo {
    letter-spacing: 1px;
    float: left;
    color: #fff;
    font-size: 22px;
    line-height: 80px;
    padding: 0 6em;
}

.menu{
    float: right;
    line-height: 50px;
    margin: 0 6rem;
    margin-top: 14px;
    margin-left: 400px;
}

.menu ul {
    list-style: none;
}


.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    padding: 0 15px;
}

ul li:nth-child(5) a {
    color: #009f8b;
    border: 1px solid #009f8b;
    padding: 10px 20px;
    border-radius: 4px;
}

ul li:nth-child(6) a {
    color: #009f8b;
    border: 1px solid #009f8b;
    padding: 10px 20px;
    border-radius: 4px;
}



.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1{
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header p {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}


















